RESOLVER_MNEMONIC="word1 word2 word3 word4 word5 word6 word7 word8 word9 word10 word11 word12 word13 word14 word15 word16 word17 word18 word19 word20 word21 word22 word23 word24"
RESOLVER_WALLET_VERSION="v5r1"
TON_API_ENDPOINT="https://toncenter.com/api/v2/jsonRPC"
TON_API_KEY=""
TON_API_ENDPOINTS="https://toncenter.com/api/v2/jsonRPC"
TON_API_KEYS=""
TON_RPC_FAILURE_THRESHOLD="3"
TON_RPC_COOLDOWN_MS="30000"
CMC_API_KEY=""
RESOLVER_POLL_INTERVAL_MS="5000"
ADMIN_TOKEN=""
ADMIN_ALLOWED_WALLETS="UQDBTlOU6i2kcUOkSK4EEfEgZTaG4zkOSTY6R1nZiTMYZbEO"
